<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @filelink.content_id %>
</p>

<p>
  <strong>Link:</strong>
  <%= @filelink.link %>
</p>

<p>
  <strong>Size:</strong>
  <%= @filelink.size %>
</p>

<p>
  <strong>Type:</strong>
  <%= @filelink.type %>
</p>

<%= link_to 'Edit', edit_filelink_path(@filelink) %> |
<%= link_to 'Back', filelinks_path %>
